<footer class="footer">
    <nav class="links">
        <ul class="list">
            <li>articles</li>
            <li>books</li>
            <li>events</li>
            <li>reasons</li>
            <li>tips</li>
        </ul>
    </nav>
    <nav class="rrss">
        <ul class="list_rrss">
            <li>twitter</li>
            <li>instagram</li>
            <li>mastodon.social</li>
        </ul>
    </nav>
    <div class="last">
        <p>&copy;2017</p>
        <p> we
            <span class="heart">&hearts;</span>
            components
        </p>
    </div>
</footer>