<footer class="footer">
    <section class="links">
        <ul class="list">
            <li>articles</li>
            <li>books</li>
            <li>events</li>
            <li>reasons</li>
            <li>tips</li>
        </ul>
    </section>
    <section class="rrss">
        <ul class="social">
            <li>twitter</li>
            <li>instagram</li>
            <li>mastodon.social</li>
        </ul>
    </section>
    <div class="last">
        <p>&copy;2017</p>
        <p>we ❤︎ components</p>
    </div>
</footer>