<main class="main">
    <section class="text_container">
        <div class="insomnia">Insomnia Tips</div>
        <div class="looking">Looking Through A Window</div>
        <div class="paragraph">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</div>
        <input type="button" class="btn" value="GO"> 
    </section>
    <section class="container" id="3reasons">
        <div class="reasons">3 Reasons To Purchase</div>
        <div class="items">
            <div class="item1"><b>Ut sed metus</b> <br>
                Lorem ipsum dolor sit amet, consecteur.
            </div>
            <div class="item2"><b>Curabitur ac erat</b> <br>
                Mauris mattis urna quis lorem molestie.
            </div>
            <div class="item3"><b>Morbi dictum</b> <br>
                Aliquam in dolor et dolor tincidunt.
            </div>
        </div>
        <input type="button" class="btn_1" value="More reasons"> 
        <div class="btn_up">
            <a href="#top_page">
            <img src="./assets/images/ico-arrow.svg" class="arrow" alt="button top page"></a>
        </div>
    </section>
    
</main>
