.page {
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
}

/*H E A D E R*/ 

.header {
    width: 100vw;
    z-index: 1;
    & .ham_menu {
        position: fixed;
        width: 44px;
        height: 44px;
        background-color: $blue;
        margin-top: 0;
        & .ham {
            padding-top: 15px;
            padding-left: 14px;
        }
    }
}

/*H E R O*/ 

.hero {
    display: flex;
    background: url('../images/cover.jpg');
    width: 320px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    padding-top: 220px;
    &.back_img{
        height: 100vh;
    }
    & .text {
        color: $white;
        padding-bottom: 143px;
        padding-left: 15px;
        padding-right: 15px;
        & .title {
            font-size: rem(42);
            font-weight: bold;
            text-align: center;
            font-family: $text-font-1;
            text-transform: uppercase;
        }
        & .sub {
            font-family: $text-font-2;
            font-size: rem(16);
            text-align: center;
        }  
    }
    & .btn_down {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: $white;
        position: absolute;
        top: 445px;
        left: 140px;
        right: 137px;
        bottom: 53px;
        & .down {
            position: relative;
            top: 35%;
            left:26%;
        }
    }
}

/*M A I N*/ 

.main {
    & .text_container {
        display: flex;
        flex-direction: column;
        text-align: left;
        background-color: $white;
        padding: 15px;
        & .insomnia {
            font-family: $text-font-2;
            font-size: rem(14);
            color: $sky_blue;
            padding-top: 30px;
            padding-bottom: 10px;
        }
        & .looking {
            font-family: $text-font-1;
            font-weight: bold;
            font-size: rem(24);
            padding-bottom: 10px;
        }
        & .paragraph {
            font-family: $text-font-2;
            font-size: rem(18);
            color: $grey;
            line-height: 30px;
            padding-top: 10px;
        }
        & .btn {
            border-radius: 22.5px;
            border: 2px solid $orange;
            height: 45px;
            width: 76px;
            background-color: $color_btn;
            margin-top: 20px;
            font-family: $text-font-2;
            font-weight: bold;
            color: $orange;
            transition: font-size .5s ease;
            &:hover {
                color: $blue;
                border: 2px solid $blue;
                font-size: rem(24);
            }
        }
    }
    & .container {
        background-color: $container_color;
        padding: 15px;
        height: 550px;
        & .reasons {
            font-family: $text-font-1;
            font-weight: bold;
            font-size: rem(24);
            text-align: center;
            padding-top: 15px;
        }
        & .items {
            display: grid;
            justify-content: center;
            grid-template-columns: 180px;
            grid-template-rows: 125px 125px 125px;
            margin-top: 35px;
            font-size:rem(18);
            line-height: 30px;
            font-family: $text-font-2;
            text-align: center;
        }
        & .btn_1 {
            border-radius: 22.5px;
            font-family: $text-font-2;
            font-size: rem(20);
            border: none;
            height: 45px;
            width: 184px;
            background-color: $orange;
            color: $white;
            margin-left: 50px;
            transition-property: all;
            transition-duration: 300ms;
            transition-timing-function: ease-out;
            transition-delay: 20ms;
            &:hover {
                background-color: $blue;
                width: 200px;
            }
            
        }
        & .btn_up {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            background-color: $white;
            position: absolute;
            top: 1470px;
            left: 138px;
            right: 137px;
            bottom: 53px;
            animation-name: intro;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
                & .arrow {
                    position: relative;
                    top: 30%;
                    left:26%;
                }
                &:hover {
                    @keyframes intro {
                        from {
                            transform: translate(0, -35%); 
                        }
                        to {
                            transform: translate(0, -30px);
                        }
                    }
                }    
        }
    
        
    }
}

/*F O O T E R*/ 

.footer {
    background-color: $background_footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 465px;
    & .links {
        text-align: center;
        & .list {
            list-style: none;
            font-family: $text-font-2;
            line-height: 30px;
            color: $white;
            text-transform: uppercase;
            padding-right: 40px;
        }
    }
    & .rrss {
        text-align: center;
        & .list_rrss {
            list-style: none;
            font-family: $text-font-2;
            line-height: 30px;
            color: $white;
            text-transform: uppercase;
            padding-right: 40px;
        }
    }
    & .last {
        color: $white;
        font-family: $text-font-2;
        font-size: rem(14);
        text-align: center;
        margin-top: 30px;
        & .heart {
            color: $orange;
        }
    }
}

/*M E D I A Q U E R I E S*/ 

@media all and (min-width:768px){
    .hero {
        width: 100vw;
        &.back_img{
            height: 100vh;
        }
        & .text {
            & .title {
                font-size: rem(80); 
            }
            & .sub { 
                font-size: rem(24); 
            }  
        }
        & .btn_down {
            position: absolute;
            top: 600px;
            left: 360px;
            right: 137px;
            bottom: 53px;
            & .down {
                position: relative;
                top: 30%;
                left:26%;
            }
        }
    }
    .main {
        & .text_container {
            padding: 39px;
            & .looking {
                font-size: rem(26);
                line-height: 45px;
            }
            & .paragraph {
                font-size: rem(20);
                line-height: 30px;
                margin-right: 40px;
            }
        }
        & .container {
            height: 350px;
            & .reasons {
                font-size: rem(24);
                line-height: 30px;
            }
            & .items {
                display: grid;
                grid-template-rows: 110px;
                grid-template-columns: 200px 200px 200px;
                text-align: center;
                font-size: rem(20);
                padding: 30px;
            }
            & .btn_1 {
                position: relative;
                margin-left: 280px;
                margin-bottom: 50px;
            }
            & .btn_up {
                top: 1410px;
                left: 372px;
                right: 137px;
                bottom: 53px;
                    & .arrow {
                        position: relative;
                        top: 30%;
                        left:26%;
                    }
            }
        }
    }

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 40px;
        height: 240px;
        & .links {
            order: 2;
            text-align: left;
            
        }
        & .rrss {
            order: 3;
            text-align: left;
        }
        & .last {
            margin-top: 9px;
            text-align: left;
        }
    }
}

@media all and (min-width:1200px){
    .hero {
        width: 100vw;
        &.back_img {
            height: 100vh;
        }
        & .text {
            margin-left:275px;
            & .title{
                font-size: 100px;
                line-height: 130px;
                width: 730px;
            }
        }
        & .btn_down {
            position: absolute;
            top: 750px;
            left: 630px;
        }
    }
    .main {
        & .text_container{
            margin-left: 245px;
            margin-right: 200px;
            & .btn{
                width: 160px;
            }
        }
        & .container {
            & .reasons {
                font-size: rem(32);
                line-height: 45px;
            }
            & .items{
                display: grid;
                grid-template-rows: 200px;
                grid-template-columns: 350px 350px 350px;
                text-align: center;
                font-size: rem(20);
                padding: 30px;
            }
            & .btn_1 {
                position: relative;
                margin-left: 530px;
                top: -90px;
            }
            & .btn_up {
                top: 1503px;
                left: 615px;
                right: 137px;
                bottom: 53px;
            }
            
        }
    }
    .footer {
        padding-top: 80px;
        height: 240px;
        & .last {
            margin-left: 300px;
        }
        & .rrss {
            margin-right: 300px;
        }
    }
}