html {
    font-family: 'Roboto Slab', serif;
}

.page {
    box-sizing: border-box;
}

/*H E A D E R*/ 

.header {
    width: 100vw;
    height: 30%;
    & .ham_menu {
        position: fixed;
        width: 44px;
        height: 44px;
        background-color: #0271bc;
        & .ham {
            padding-top: 15px;
            padding-left: 14px;
        }
    }
}