html {
    font-family: $text-font-1;
}

.page {
    box-sizing: border-box;
    height: 100vh;
}

/*H E A D E R*/ 

.header {
    width: 100vw;
    z-index: 1;
    & .ham_menu {
        position: fixed;
        width: 44px;
        height: 44px;
        background-color: #0271bc;
        margin-top: 0;
        & .ham {
            padding-top: 15px;
            padding-left: 14px;
        }
    }
}
.hero {
    display: flex;
    background: url('../images/cover.jpg');
    width: 320px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    padding-top: 284px;
    & .text {
        color: white;
        padding-bottom: 143px;
        padding-left: 15px;
        padding-right: 15px;
        & .title {
            font-size: 42px;
            font-weight: bold;
            text-align: center;
            font-family: $text-font-1;
            text-transform: uppercase;
        }
        & .sub {
            font-family: $text-font-2;
            font-size: 16px;
            text-align: center;
        }  
    }
    & .btn_down {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: white;
        position: absolute;
        top: 500px;
        left: 138px;
        right: 137px;
        bottom: 53px;
        & .down {
            position: relative;
            top: 30%;
            left:26%;
        }
    }
}

.main {
    & .text_container {
        display: flex;
        flex-direction: column;
        text-align: left;
        background-color: white;
        padding: 15px;
        & .insomnia {
            font-family: $text-font-2;
            font-size: 14px;
            color: #8ccbea;
            padding-top: 30px;
            padding-bottom: 10px;
        }
        & .looking {
            font-family: $text-font-1;
            font-weight: bold;
            font-size: 24px;
            padding-bottom: 10px;
        }
        & .paragraph {
            font-family: $text-font-2;
            font-size: 18px;
            color: #4a4a4a;
            line-height: 30px;
            padding-top: 10px;
        }
        & .btn {
            border-radius: 22.5px;
            border: 2px solid #f26002;
            height: 45px;
            width: 76px;
            background-color: #fff;
            margin-top: 20px;
            font-family: $text-font-2;
            font-weight: bold;
            color: #f26002;
        }
    }
    & .container {
        background-color: #eff9ff;
        padding: 15px;
        & .reasons {
            font-family: $text-font-1;
            font-weight: bold;
            font-size: 24px;
            text-align: center;
            padding-top: 15px;
        }
        & .items {
            display: grid;
            justify-content: center;
            grid-template-columns: 180px;
            grid-template-rows: 125px 125px 125px;
            margin-top: 40px;
            line-height: 30px;
            font-family: $text-font-2;
            text-align: center;
        }
        & .btn_1 {
            border-radius: 22.5px;
            border: none;
            height: 45px;
            width: 184px;
            background-color: #f26002;
            color: white;
            margin-left: 50px;
        }
    }
}

.footer {
    background-color: #304268;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 465px;
    & .links {
        text-align: center;
        & .list {
            list-style: none;
            font-family: $text-font-2;
            line-height: 30px;
            color: white;
            text-transform: uppercase;
            padding-right: 40px;
        }
    }
    & .rrss {
        text-align: center;
        & .list_rrss {
            list-style: none;
            font-family: $text-font-2;
            line-height: 30px;
            color: white;
            text-transform: uppercase;
            padding-right: 40px;
        }
    }
    & .last {
        color: white;
        font-family: $text-font-2;
        font-size: 14px;
        text-align: center;
        margin-top: 30px;
        & .heart {
            color: #f26002;
        }
    }
}
