/*F O N T S*/
$defaultFontSize: 16;
$text-font-1: 'Roboto Slab', serif;
$text-font-2: 'Roboto', sans-serif;

/*C O L O R S*/

$orange: #f26002;
$blue: #0271bc;
$white: white;
$sky_blue: #8ccbea;
$grey: #4a4a4a;
$color_btn: #fff;
$container_color: #eff9ff;
$background_footer: #304268;